<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/config :: configFragment">
<body>
<header th:replace="fragments/header :: headerFragment"></header>
<br>
<div class="col-md-12"></div>
<div class="col-md-12"></div>
<div class="col-md-12">
    <div class="container">
        <div>
            <table class="table table-horizontal table-striped table-hover table-bordered">
                <thead class="thead-strong">
                <tr>
                    <th>번호</th>
                    <th>회원메일</th>
                    <th>이름</th>
                    <th>휴대폰 번호</th>
                </tr>
                </thead>

                <tbody id="tbody">
                <!--/*@thymesVar id="members" type="member"*/-->
                <tr th:each="m : ${member}">
                    <td></td>
                    <td><a th:href = "@{/mypost/{id}(id = ${m.id})}" th:text="${m.email}" id ></a></td>
                    <td th:text="${m.name}"></td>
                    <td th:text="${m.phone}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footerFragment"></footer>
<script th:inline="javascript">
    const table = document.getElementsByTagName('tbody')[0],
        rows = table.getElementsByTagName('tr'),
        text = 'textContent' in document ? 'textContent' : 'innerText';

    let idx = 1+rows.length-rows.length;
    for (let i = 0; i < rows.length; i++){
        rows[i].children[0][text] = idx;
        console.log("idx" + idx);
        idx += 1;
    }
</script>

</body>
</html>
