<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/config :: configFragment"/>
<body>
<header th:replace="fragments/header :: headerFragment"></header>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
<!--            /*@thymesVar id="memberForm" type=""*/-->

            <form class="login100-form validate-form" action="/api/all/signup" th:object="${memberForm}" method="post">
                <span class="login100-form-title p-b-49">회원가입</span>

                <div class="form-group">
                    <label th:for="name">이름</label>
                    <input type="text" th:field="*{name}" class="form-control"
                           placeholder="이름을 입력해주세요"
                           th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'" required>
                </div>

                <div class="form-group">
                    <label th:for="email">이메일</label>
                    <input type="email" th:field="*{email}" class="form-control"
                           id="user_email" placeholder="이메일을 입력해주세요 ('@' 포함해주세요)" required>
                    <div class="check_font" id="email_check"></div>
                </div>

                <div class="form-group">
                    <label th:for="password">비밀번호</label>
                    <input type="password" th:field="*{pwd}" class="form-control"
                           id="user_password"   placeholder="비밀번호를 입력해주세요" required>
                </div>

                <div class = "form-group">
                    <label th:for="password2">비밀번호 확인</label>
                    <input  type="password" th:field = "*{password}" class = "form-control"
                            id="user_password2" placeholder="비밀번호를 확인해주세요" required>
                    <div class="check_font" id="pwd_check"></div>
                </div>

                <div class="form-group">
                    <label th:for="phone">전화번호</label>
                    <input type="text" th:field="*{phone}" class="form-control"
                           maxlength="11" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                           placeholder="전화번호를 입력해주세요 (숫자만 입력해주세요)" required>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" type="submit">
                            회원가입
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="/../static/js/app/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="/../static/js/app/animsition.min.js"></script>
<script src="/../static/js/main.js"></script>

<!--===============================================================================================-->
<footer th:replace="fragments/footer :: footerFragment"></footer>
<script th:inline="javascript">
    // 아이디 유효성 검사(1 = 중복 / 0 != 중복)
    $(document).ready(function(){
        $("#user_email").blur(function() {
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/api/checkEmail",
                data: JSON.stringify({"user_email" : $('#user_email').val()}),
                dataType: 'json',
                success: function (data) {
                    console.log("1 = 중복이다 / 0 = 중복아니다 : "+ data);

                    if (data === 1) {
                        // 1 : 이메일이 중복되는 문구
                        $("#email_check").text("사용중인 이메일입니다. :p");
                        $("#email_check").css("color", "red");
                        $("#user_email").focus();
                    } else { // 0
                        // 공백일 때 이메일 입력 문구
                        if($('#user_email').val() == ""){
                            $('#email_check').text('이메일을 입력해주세요. :)');
                            $('#email_check').css('color', 'red');
                            $("#user_email").focus();
                            // 이메일 형식이 아닐 때('@' 또는 '.' 가 없는 경우)
                        } else if($('#user_email').val().indexOf("@") == -1 ||
                            $('#user_email').val().indexOf(".") == -1){
                            $("#email_check").text("이메일 형식이 아닙니다. :(");
                            $("#email_check").css("color", "red");
                            $("#user_email").focus();
                            // 이메일이 사용가능한 문구
                        } else{
                            $("#email_check").text("사용가능한 이메일입니다. :p");
                            $("#email_check").css("color", "blue");
                        }
                    }
                },
                error: function () {
                    console.log("실패");
                }
            });
        });

        // 비빌번호, 비빌번호 확인 라벨 비교 구문
        $("#user_password2").blur(function(){


            const pw1 = $('#user_password').val();
            const pw2 = $('#user_password2').val();
            if(pw1 === pw2){
                console.log("true")
                $("#pwd_check").text("패스워드가 일치합니다. :) ");
                $("#pwd_check").css("color", "blue");
            }
            else if(pw2 === null){
                console.log("넑값 잡히니?")
            }
            else{
                $("#pwd_check").text("패스워드가 일치하지 않습니다. :p ");
                $("#pwd_check").css("color", "red");
                $("#user_password").focus();
            }
        });
    });

</script>
</body>
</html>